<div class="hero-image">
  <div class="hero-text">
    <h1>Newses News</h1>
    <h1>Technology Headlines</h1>
    <button class="get-news-btn" onclick="window.location.href = '/get-news';">Get Updated News</button>


  </div>
</div>