body, html {
  height: 100%;
}
.api-news {
  margin-right: 10%;
}
a {
  text-decoration: none;
  color: orange !important;
}
.space-around-content {
  margin-left: 300px;
  margin-top: 20px;
}
.hero-image {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/93825-004-A21EC811.jpg");
  
  height: 20%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  
  .hero-text {
  text-align: center;
  position: absolute;
  font-size: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  }
  .tech-title {
    text-align: center;
    font-size: 3em;
  }